<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%- include('header.ejs') %>
    <style>
        .display{
            display: none;
        }
    </style>
    <script>
        function openPopUp() {
          var popUp = window.open("pop_up", "Pop-up", "width=500, height=300");
        }
        </script>

</head>
<body class="bg-gradient-primary">

    <div class="container">
        <div class="text-center">
            <br>
            <a id="signinlink" href="/index" >홈으로</a>
        </div>
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">

                        <!-- Nested Row within Card Body -->
                        <div class="row">

                            <!-- 1열 -->
                            <div class="col-lg-6"> 
                                <div class="p-5">
                                    <div class="text-center">
                                        <img src="/img/title_011.jpg" width="100%">
                                    </div>
                                    
                                    <!-- Earnings (Monthly) Card Example -->
                                    <div class="text-center">
                                        <div class="col-xl-12 col-md-6 mb-4">
                                            <div class="card border-left-primary shadow h-100 py-2">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            &nbsp;&nbsp;<%=username%>님<br>
                                                            <%if(gender=="여"){%>
                                                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                                    (<%=gender%>자부문 대회참여)
                                                             <%}else{if(gender=="남"){%>
                                                             <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                                    (<%=gender%>자부문 대회참여)
                                                            <%}}%>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <!-- 제거 -->

                                    <hr> 
                                    <div class="container">
                                        <div class="fs-6">    
                                        <br>
                                        
                                            <form action="/admin/admin_enterscore" method="post" enctype="multipart/form-data">
                                                <div class="text-warning bg-dark">
                                                기 참가 시스템 :
                                                    <%const sys_count = resultt2.length%>
                                                    <%for(var i=0;i<sys_count;++i){%>
                                                        <%=resultt2[i].golfsys%>
                                                        ,
                                                    <%}%>
                                                </div>
                                                <table class="table">
                                                    <tr>
                                                        <td>
                                                            번   호:<input type="text" name="_n" class="form-control" value="<%=no%>" readonly> <br>
                                                            참가시간:<input type="text" name="_time" class="form-control" 
                                                            value="<%=resultt[0].entertime%>" readonly>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            참가시스템:<%=resultt[0].golfsys%><br>
                                                            <select class="form-select" name="input_golfsys" id="golfsys">
                                                                <option value="GolfZon">GolfZon</option>
                                                                <option value="K Golf Club">K Golf Club</option>
                                                                <option value="UDR Golf">UDR Golf</option>
                                                                <option value="GolfZon Park">GolfZon Park</option>
                                                                <option value="Kakao Friends">Kakao Friends</option>
                                                                <option value="GNC Golf">GNC Golf</option>
                                                                <option value="MS Golf">MS Golf</option>
                                                                <option value="SG Golf" >SG Golf</option>
                                                            </select>                                                    
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            스코어: <%=resultt[0].strok%><br>
                                                            <div class="input-group mb-3">
                                                                <input type="text" name="input_strok" class="form-control" value="<%=resultt[0].strok%>" >
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </table>
                                            
                                            <div class="text-center">  
                                                <button class="btn btn-danger" type="submit" value="strok 등록" >스코어등록</button>
                                            </div>
                                            <br>
                                            <hr>
                                            </form>
                                            <div class="text-center">  
                                                            
                                                스코어카드:<span class="input-group-text" >캡쳐파일은 아래의 고객센터에 제출하세요  </span><br>
                                                
                                                <!-- <input type="file" name="_image" class="form-control" 
                                                placeholder="사진을 등록하세요" aria-label="food_code" aria-describedby="basic-addon1"> -->
                                                                                      
                                                <a href="http://pf.kakao.com/_ttxaSxj/chat">[고객센터]</a>
                                            </div>
                                        </div>
                                    </div>       
                                </div> 
                             </div> 
                            </div> 
                        </div>    
                            
                        <!-- 2열 -->
                        <div class="col-lg-5">
                            <div class="text-center">
                                <img src="/img/kk.png"  width="100%" > 
                            </div> 
                        </div>    
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>




