<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="/js/custom.js"></script>

    <title>케이그라운드와 함께 해주셔서 감사합니다~</title>

    <!-- 외부의 있는 ejs 파일을 해당하는 곳에 포함한다.-->
    <%- include("header.ejs") %>
    
</head>
    
<body class="bg-gradient-primary">
    <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <!-- 1열 -->
                        <div class="col-lg-6"> 
                            <div class="p-6">
                                <div class="text-center">
                                    <br>
                                    <img src="/img/005.jpg" width="300px">
                                    <br>
                                    <h6>골프플랫폼 케이그라운드 관리자모드</h6>
                                </div>
                                <br>
                                <!-- Earnings (Monthly) Card Example -->
                                <div class="text-center">
                                    <div class="col-xl-12 col-md-6 mb-4">
                                        
                                        <div class="card border-left-primary shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                  
                                                    <div class="col mr-2">
                                                        <table>
                                                            <tr>
                                                                <td width="300"  >
                                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                                        관리자 : <%=login_data['username']%>님
                                                                    </div>
                                                                    <div class="text-start">
                                                                        <div class="text-xs font-weight-bold mb-1 text-secondary text-uppercase">
                                                                        since 2023.7.1(5회대회부터)
                                                                        <br><br>
                                                                        회원수 : <%= total_count%>
                                                                        <br>
                                                                        KPoint 총잔액 :  
                                                                                <%aa=total_charge.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                                                                <%=aa%>
                                                                        <br><br>
                                                                        총지급 :<%=total_charge_count%>건, 
                                                                                <%aa=total_charge_charge.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                                                                <%=aa%>
                                                                        <br>
                                                                        총입금 : <%=tot_deposit_count%>건, 
                                                                                <%aa=total_deposit.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                                                                <%=aa%>
                                                                        <br><br>
                                                                        <br><br>
                                                                        관리자 지급  
                                                                        <br>
                                                                        관리자 차감  
                                                                        <br><br>
                                                                        
                                                                        회원목록  
                                                                        <br>
                                                                        충전내역  
                                                                        <br>
                                                                        대회참가내역 
                                                                                                        
                                                                        <br><br>
                                                                        
                                                                        가맹점결제 내역   
                                                                        <br>
                                                                         KSFC스코어 
                                                                                                        
                                                                        <br><br>
                                        
                                                                        <a class="btn btn-danger" href="/admin/admin_ok"> DB수정 </a>
                                                                        <br><br>
                                                                        <a class="btn btn-danger" href="/admin/admin_scoreok"> score수정 </a>
                                                                        <br><br>
                                                                        <a href="golf/notice"><img src="/img/80_015.png" alt="공지사항"></a>
                                                                       
                                                                        <a href="golf/regu"><img src="/img/80_018.png"  alt="대회규정"></a> 
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                
                                
                                
                            </div>
                        </div>  
                        
                        <!-- 2열  -->
                        <div class="text-center">
                            <div class="col-lg-6">
                                <img src="/img/kk.png"  width="50%" >
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    </div>   
</body>
</html>