<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="wp7f1PPIXyMTDfnzLCLTmXdBRmevIWKALlCAhvfZW-k" />
    <link rel="stylesheet" type="text/css" href="/css/rolling.css">
    <link rel="stylesheet" type="text/css" href="/css/sb_admin-2.css">
    <link rel="stylesheet" type="text/css" href="/css/sb_admin-2.min.css">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="/js/custom.js"></script>

    <title>케이그라운드와 함께 해주셔서 감사합니다~</title>

    <!-- 외부의 있는 ejs 파일을 해당하는 곳에 포함한다.-->
    <%- include("header.ejs") %>
    
</head>
    
<body class="bg-gradient-primary">
    <div class="container">
        <div class="text-center">
           
            <br>
            <a id="signinlink" href="javascript:history.back()" >뒤로</a>
        </div>
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <!-- 1열 -->
                        <div class="col-lg-6"> 
                            <div class="p-6">
                                <div class="text-center">
                                    <br>
                                    <img src="/img/005.jpg" width="300px">
                                    <br>
                                    <h6>골프플랫폼 케이그라운드 관리자모드</h6>
                                </div>
                                <br>
                                <!-- Earnings (Monthly) Card Example -->
                                <div class="text-center">
                                    <div class="col-xl-10 col-md-12 mb-1">
                                        <div class="card border-left-danger shadow h-100 py-1">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-primary text-small" align="center">
                                                            <div class="text-start">
                                                                    
                                                                since 2023.7.1(5회대회부터)
                                                                
                                                                <hr>
                                                                24년 1월 참여자수 : <%= tot_24_1_count%>명<br>
                                                                24년 2월 참여자수 : <%= tot_24_2_count%>명<br>
                                                                24년 3월 참여자수 : <%= tot_24_3_count%>명<br>
                                                                <br>

                                                                전체회원수 : <%= total_count%>명
                                                                <br>
                                                                KPoint 총잔액 :  
                                                                        <%aa=total_charge.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                                                        <%=aa%>
                                                                <br><br>
                                                            </div>
                                                                        <!-- 총지급 :<%=total_charge_count%>건, 
                                                                                <%aa=total_charge_charge.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                                                                <%=aa%>
                                                                        <br>
                                                                        총입금 : <%=tot_deposit_count%>건, 
                                                                                <%aa=total_deposit.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                                                                <%=aa%>
                                                                        <br><br> -->
                                                            <div class="text-center text-small">
                                                                <a class="btn btn-warning  " href="/admin/admin_jigubok">관리자지급</a>
                                                                
                                                                <a class="btn btn-warning  " href="/admin/admin_chagamok">관리자차감</a>
                                                                <br><br> 
                                                                <a class="btn btn-warning  " href="/admin/admin_chargeok">관리자충전</a>
                                                                
                                                                <a class="btn btn-warning "  href="/admin/admintrans_list">관리자거래내역</a>

                                                                <br><br>
                                                                
                                                                <a href="/admin/admin_custom" class="btn btn-info rounded-pill px-3" >회원목록</a>
                                                                <a href="/admin/admin_chargelist" class="btn btn-info rounded-pill px-3" >자동충전내역</a>   
                                                                <br><br> 
                                                                <a href="/admin/admin_kplist" class="btn btn-info rounded-pill px-3" >전체거래내역</a>
                                                                <a href="/admin/admin_lucky" class="btn btn-info rounded-pill px-3" >행운상지급</a>
                                                                                            
                                                                <br><br>
                                                                
                                                                <a   href="/admin/admin_gameanglist" class="btn btn-info rounded-pill px-3" >가맹점결제내역  </a>   
                                                                <a   href="/admin/admin_papago" class="btn btn-info rounded-pill px-3" >최다참가상  </a>                                                                         
                                                                                                
                                                                <br><br>
                                
                                                                <a   href="/admin/admin_ok" class="btn btn-success" > 회원정보수정 </a> 
                                                                
                                                                <a   href="/admin/admin_scoreok" class="btn btn-success"> score수정 </a>
                                                                <br><br>
                                                                <a href="../golf/notice"><img src="../img/80_015.jpg" width="80px" alt="공지사항"></a>
                                                            
                                                                <a href="../golf/regu"><img src="../img/80_018.jpg" width="80px"  alt="대회규정"></a> 
                                                            </div>
                                                                <br><br>
                                                                23년 10월 참여자수 : <%= tot_10_count%>명<br>
                                                                23년 11월 참여자수 : <%= tot_11_count%>명<br>
                                                                23년 12월 참여자수 : <%= tot_12_count%>명<br>
                                                                6회대회 총 참여자수 : <%= tot_10_count+tot_11_count+tot_12_count%>명<br>
                                                                6회대회 월평균 : <%= (tot_10_count+tot_11_count+tot_12_count)/3%>명,
                                                                <%= (tot_10_count+tot_11_count+tot_12_count)/3*2000%>원
                                                        </div>
                                                   </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div>
                     </div>
                </div>  
                        
                <!-- 2열  -->
                <div class="text-center">
                    <div class="col-lg-6">
                        <img src="/img/kk.png"  width="50%" >
                    </div>   
                </div>
            </div>
                </div>
            </div>
        </div>
    </div> 
    </div>   
</body>
</html>