<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>가맹점 이용</title>
    <%- include('header.ejs') %>
    <script>

        function signup(){
          location.href = '/signup'
        }
        function fail(){
                  alert("금액과 결제비밀번호(숫자6자리)를 정확히 입력 해 주세요")
        }
        </script>
</head>

<%if(state == 0){%>
    <body class="bg-gradient-primary" onload="fail()" >
    <%}else{%>
        <body class="bg-gradient-primary">      
        <%}%>
    <div class="container">
        <div class="text-center">
            <br>
            <a class="small" href="/index"><img src="/img/home.png"></a>
        </div>
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">

                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <!-- <img src="/img/title_009.jpg" width="100%"> -->
                                        KPoint 결제
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            &nbsp;&nbsp;<%=username%>님
                                        </div>
                                        <div class="h6 mb-0 font-weight-bold text-gray-800">
                                            <%aa=amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                            K포인트 : <%=aa%>
                                        </div>
                                        <hr><br>
                                        <div class="text-primary">

                                            <form class="user" action="/contract/gamepay" method="post">
                                            <div align="left">
                                                (1) 매장
                                            <br>
                                                <input type="text" value="<%=storename%>" name="input_storename" readonly >
                                                <br>
                                                <input type="text" value="<%=storephone%>" name="input_storephone"  readonly>
                                            </div>  
                                        </div>  
                                        <br>  
                                        <div align="left">
                                              (2) 결제금액      
                                        </div>                    
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-user"
                                                    id="_gamepay" name="_gamepayment"  placeholder="결제할 금액입력(K포인트)">
                                                <br>
                                                <br>
                                            </div>
                                        <div align="left">
                                            (3) 결제비밀번호      
                                        </div>  
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user"
                                                    id="_numeric6" name="_numeric6" placeholder="숫자6자리">
                                                <br>
                                                <br>
                                            </div> 
                                            <div class="text-center">    
                                                <!-- <button class="btn btn-primary" onclick="location.href='/auth'">문자인증</button> -->
                                                <button class="btn btn-danger" >K포인트 결제</button><br><br>
                                            </div>
                                        </div>
                                            </form>
<hr>
                                
                            </div>
                        </div> 
                    </div>
                            
                            <!-- 2열 -->
                            <div class="col-lg-6">
                                <div class="col-lg-5">
                                    <img src="/img/kk.png"  width="100%" >
                                </div>      
                            </div>
                        </div>
                        </div> 

                        </div>
                    </div>

                    <!--row-->

                </div>
            </div>
        </div>
    <!-- Outer Row -->
    </div>
</body>
</html>