<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%- include('header.ejs') %>
    <style>
        .display{
            display: none;
        }
    </style>

</head>
<body class="bg-gradient-primary">

    <div class="container">
        <div class="text-center">
            <br>
            <a id="signinlink" href="javascript:history.back()" >홈으로</a>
        </div>
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">

                        <!-- Nested Row within Card Body -->
                        <div class="row">

                            <!-- 1열 -->
                            <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"> -->
                                <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image">                         -->
                            <div class="col-lg-6"> 
                                <div class="p-5">
                                    <div class="text-center">
                                        <img src="/img/k.png" width="10%">
                                        KPoint 거래내역 
                                    </div>
                                    <br>
                                    <!-- Earnings (Monthly) Card Example -->
                                    <div class="text-center">
                                        <div class="col-xl-12 col-md-10 mb-4">
                                            <div class="card border-left-primary shadow h-100 py-2">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                                &nbsp;&nbsp;<%=username%>님
                                                            </div>
                                                            <div class="h6 mb-0 font-weight-bold text-gray-800">
                                                                <%aa=amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                                                K포인트 : <%=aa%>
                                                            </div>
                                                        </div>    
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                    <hr> 
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">    
                                            <table class="table">
                                                <%for (var i = 0 ; i <resultt.length ; i++){%>
                                                <tr>
                                                    <td>
                                                        <div class="text-primary text-uppercase mb-1">
                                                            <%=i+1%>:
                                                        </div>
                                                    <td  class="text-uppercase mb-1">
                                                        <%const korea = new Date(resultt[i].transtime)%>
                                                        <%const koreanTime=korea.toLocaleString('ko-KR')%>
                                                        <%=koreanTime%>
                                                        <br>
                                                       <% const kpn = parseInt(resultt[i].kp_amount)*-1%>
                                                       <% const kpp = parseInt(resultt[i].kp_amount)%>
                                                       <%an=kpn.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> 
                                                       <%ap=kpp.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> 
                                                       
                                                       [<%=resultt[i].transtype.toString()%>]
                                                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <%if(resultt[i].transtype.toString()=="charge"){%>
                                                            <%=ap%>
                                                        <%}else{%>
                                                            <%=an%>
                                                     
                                                         <%}%>
                                                    </td>
                                                </tr>
                                                
                                                <%}%>
                                            </table>
                                    </div> 
                                </div>   
                            </div>
                            <!-- 1열 여기까지 -->

                            <!-- 2열시작 -->
                            <div class="col-lg-5">
                                <div class="text-center">
                                    <img src="/img/kk.png"  width="100%" > 
                                </div> 
                            </div>    
                        </div>
                        <!-- 행 -->
                         
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

