<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>케이그라운드에 오신것을 환영합니다</title>

    <!-- 외부의 있는 ejs 파일을 해당하는 곳에 포함한다.-->
    <%- include("header.ejs") %>
        <!-- jquery 라이브러리 로드 -->
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <script>
        function check(login_pass){
            const origin = $('#origin_pass').val()
            if(login_pass == origin){
                $('#check_pass').hide()
                $('#_submit').attr('disabled', false)
                $('#origin_pass').attr('readonly', true)
            }
        }
    </script>
</head>
<!--    <body class="d-flex align-items-center py-4 bg-body-tertiary">-->

<body class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <!--<div class="col-lg-5 d-none d-lg-block bg-login-image"><div class="col-lg-6 d-none d-lg-block bg-login-image"></div>-->
                           
                            <div class="text-center">
                                <br>
                                <a id="signinlink" href="javascript:history.back()" >홈으로</a>
                                <br>
                            </div>
                            <div class="col-lg-6"> 
                                <div class="p-5">

                                        <div class="text-center">
                                            <img src="/img/k.png" width="10%">
                                            <h6>내 정보</h6>
                                        </div>
                                    <br>
                                    <ul>
                                        <li>
                                            전화번호 : <%=login_data['phone']%>
                                        </li>
                                        <li>
                                            성명 : <%=login_data['username']%>
                                        </li>
                                        <li>
                                            닉네임 : <%=login_data['nickname']%>
                                        </li>
                                        <li>
                                            <%amount =login_data['charge_amount']%>
                                            <%const amount1 = amount.toString().replace(/(\d{3})(?=\d)/g, ',')%>
                                            K포인트: <%=amount1%>
                                        </li>
                                    </ul>
                                    <hr>
                                        <div class="text_center" >
                                            <div class="text-primary">
                                                <i>비밀번호 변경은<br>
                                                문자인증을 통해 본인 검증 후 가능합니다.
                                                <br></i>
                                                <input type="submit" id="_submit" value="패스워드 변경" onclick="location.href='/auth'" >
                                            </div>
                                        </div> 
                                        </div>
                                    </form>
                                    <hr>

                                        <hr>
                                        <div class="text-center">    
                                        <hr>
                                            <button class="btn btn-Secondary" onclick="location.href='/logout'">로그아웃</button>
                                        </div>   
                                        <div class="text-center">    
                                        <hr>
                                            <button class="btn btn-Secondary" onclick="location.href='/drop2'">회원탈퇴</button>
                                        </div>  
                                    </div>
                            </div>
                            <div class="col-lg-5"><img src="/img/kk.png"  width="100%" ></div>     

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>


