<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>케이그라운드에 오신것을 환영합니다</title>

    <!-- 외부의 있는 ejs 파일을 해당하는 곳에 포함한다.-->
    <%- include("header.ejs") %>
        <!-- jquery 라이브러리 로드 -->
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <script>
        function check(login_pass){
            const origin = $('#origin_pass').val()
            if(login_pass == origin){
                $('#check_pass').hide()
                $('#_submit').attr('disabled', false)
                $('#origin_pass').attr('readonly', true)
            }
        }
    </script>
</head>
<!--    <body class="d-flex align-items-center py-4 bg-body-tertiary">-->

<body class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <!--<div class="col-lg-5 d-none d-lg-block bg-login-image"><div class="col-lg-6 d-none d-lg-block bg-login-image"></div>-->
                        
                            <div class="col-lg-6"> 
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">케이그라운드의 내정보</h1>
                                    </div>
                                    <br>
                                    <ul>
                                        <li>
                                            전화번호 : (<%=login_data['phone']%>)
                                        </li>
                                        <li>
                                            성명 : (<%=login_data['username']%>)
                                        </li>
                                        <li>
                                            지갑 주소 : (<%=login_data['wallet']%>)
                                        </li>
                                        <li>
                                            KPoint : (<%=amount%>)
                                        </li>
                                    </ul>
                                    <div class="text-center"> 
                                        로그인 비밀번호 변경  
                                    </div>
                                    <form action="/change_pass" method="post">
                                        <label>login password</label>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                            id="origin_pass" name='input_pass1'  placeholder="Enter your password...">
                                        </div>
                                        <br>
                                        <label>login password 확인</label>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                            name="_pass" placeholder="로그인비밀번호 확인">
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <p onclick="check('<%=login_data.password%>')" id="check_pass"> 패스워드 확인</p>
                                                <input type="submit" id="_submit" value="패스워드 변경" disabled>
                                            </div> 
                                        </div>
                                    </form>
                                    <hr>
                                    <br>
                                    <!-- <div class="text-center"> 
                                        결제비밀번호 변경(숫자6자리)  
                                    </div>
                                    <label>결제 비밀번호</label>
                                    <form action="/change_pass" method="post">
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                            id="origin_numeric6" name='input_pass1'  
                                                placeholder="설정 결제비밀번호(숫자6자리) ">
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                   name="_numeric6" placeholder="설정 결제비밀번호 확인">
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <p onclick="check('<%=login_data.password%>')" id="check_pass"> 패스워드 확인</p>
                                                <input type="submit" id="_submit" value="패스워드 변경" disabled>
                                            </div>
                                        </div>
                                    </form> -->
                                        <hr>
                                    <div class="text-center">    
                                        <hr>
                                        <button class="btn btn-Secondary" onclick="location.href='/logout'">로그아웃</button>
                                    </div>   
                                    <hr>
                                    <div class="text-center">    
                                        <hr>
                                        <button class="btn btn-Secondary" onclick="location.href='/drop2'">회원탈퇴</button>
                                    </div>  
                                </div>
                            </div>

                            <div class="col-lg-5"><img src="/img/001.png"  height="75%"></div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
