<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">  
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <%- include('header.ejs') %>
        <script>

            function end(){

                opener.call()
                window.close()
        }

        </script>
    </head>
    <body onload = "end()">
        <div class="container">
            <div class="text-center">
                <br>
                <a id="signinlink" href="/index" >홈으로</a>
    
            </div>
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <!--<div class="col-lg-5 d-none d-lg-block bg-login-image">
                                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>-->
                            
                                <div class="col-lg-6"> 
                                    <div class="p-5">
                                        <div class="text-center">
                                            <img src="/img/007.jpg" width="100%">

                                        </div>
                                        <br>
                                        <!-- Earnings (Monthly) Card Example -->
                                        <div class="text-center">
                                            <div class="col-xl-12 col-md-6 mb-4">
                                                <div class="card border-left-primary shadow h-100 py-2">
                                                    <div class="card-body">
                                                        <div class="row no-gutters align-items-center">
                                                            <div class="col mr-2">
                                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                                    <%=username%>님
                                                                </div>
                                                                <div class="h6 mb-0 font-weight-bold text-gray-800">
                                                                 
                                                                    <%aa=price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                                                    충전K포인트 : <%=aa%>
                                                                    <br>
                                                                    <%ab=chargeamount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                                                    현재 총 충전K포인트 : <%=ab%>
                                                                    <br>
                                                                    충전일시:<%=chargedate.toLocaleString("ko-KR", {month: "2-digit",day: "2-digit",hour: "2-digit",minute: "2-digit",second: "2-digit"})%>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
        <div  class="text-center">                
            <br><br><br><br><br>
            <label>결제가 완료되었습니다.</label>
        </div>
            <br> 
        <div class="text-center">    
                
            <button class="btn btn-danger" onclick='href="/index"'>케이그라운드로 가기</button> 
        </div>    

    </body>
</html>