<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%- include('header.ejs') %>
    <style>
        .display{
            display: none;
        }
    </style>
    <script>
        function openPopUp() {
          var popUp = window.open("pop_up", "Pop-up", "width=500, height=300");
        }
        </script>

</head>
<body class="bg-gradient-primary">

    <div class="container">
        <div class="text-center">
            <br>
            <a id="signinlink" href="/index" >홈으로</a>
        </div>
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->

                        <div class="row">

                            <!-- 1열 -->
                                <div class="col-lg-6"> 
                                    <div class="p-5">
                                        <div class="text-center">
                                            <img src="/img/005.jpg" width="300px">
                                            <br>
                                            <h6> 마이 스코어 </h6>
                                        </div>
                                        <br>
                                        <!-- Earnings (Monthly) Card Example -->
                                        <div class="text-center">
                                            <div class="col-xl-12 col-md-6 mb-4">
                                                <div class="card border-left-primary shadow h-100 py-2">
                                                    <div class="card-body">
                                                        <div class="row no-gutters align-items-center">
                                                            <div class="col mr-2">
                                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                                    &nbsp;&nbsp;<%=username%>님
                                                                </div>
                                                                <div class="h6 mb-0 font-weight-bold text-gray-800">
                                                                    상위 <%=len%>개 스코어합 : <%=scores_sum%>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="text-center">
                                         <table class="table">
                                            <%for (var i = 0 ; i <resultt.length ; i++){%>
                                                <%if(resultt[i].strok!='9999'){%>
                                            <tr>
                                                <td width="300px">
                                                    <div class="text-warning bg-dark">
                                                        나의 스크로크 순위 :<%=i+1%><br>
                                                    </div>
                                                    참가시간 :<%=resultt[i].entertime.toLocaleString("ko-KR", {month: "2-digit",day: "2-digit",hour: "2-digit",minute: "2-digit",second: "2-digit"})%>
                                                    <br>
                                                    시스템 : <%=resultt[i].golfsys%><br>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    스트로크 :<%=resultt[i].strok%>
                                                </td>
                                            </tr>
                                            <tr>
                                               <td >
                                                <div class="text-danger">
                                                    <%if(resultt[i].scorepicture!=""){%>
                                                        <img src="/uploads/<%=resultt[i].scorepicture%>" 
                                                        width="250px">
                                                    <%}else{%>스코어 등록하세요~"<%}%>
                                                </div>       
                                                <hr>
                                                </td>
                                               
                                            </tr>
                                                <%}%>
                                            <%}%>
                                        </table>
                                        </div>       
                                    </div>    
                                </div>
                            </div>
                            <!-- 1열 마침 -->
                            <!-- 2열 시작 -->
                            <div class="col-lg-5">
                                <div class="text-center">
                                    <img src="/img/kk.png"  width="100%" > 
                                </div> 
                            </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

