<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%- include('header.ejs') %>
    <style>
        .display{
            display: none;
        }
        .very-small {
            font-size: 10px;
        }
    </style>
 
</head>
    <body class="bg-gradient-primary">

        <div class="container">
            <div class="text-center">
                <br>
                <a id="signinlink" href="/index" ><img src="/img/home.png"></a>
            </div>
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">

                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <!--<div class="col-lg-5 d-none d-lg-block bg-login-image"><div class="col-lg-6 d-none d-lg-block bg-login-image"></div>-->
                            
                                <!-- 1열 -->
                                <div class="col-lg-6"> 
                                    <div class="p-5">
                                        <div class="text-center">
                                            <img src="/img/k.png" width="10%">
                                            <h6>케이그라운드 KPoint 결제 리스트</h6>
                                        </div>
                                        <br>
                                        <!-- Earnings (Monthly) Card Example -->
                                        <div class="text-center">
                                            <div class="col-xl-12 col-md-6 mb-4">
                                                <div class="card border-left-primary shadow h-100 py-2">
                                                    <div class="card-body">
                                                        <div class="row no-gutters align-items-center">
                                                            <div class="col mr-2">
                                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                                    &nbsp;&nbsp;<%=username%>님
                                                                </div>
                                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                                    <%aa=amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                                                    K포인트 : <%=aa%>
                             
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        <hr> 
                                        <div class="container">
                                            <br>
                                            <% if(charge_amount != 0){ %>
                                                <div class="very-small">    
                                                    <table class="table">
                                                        <tr>
                                                            <th>
                                                                번호
                                                            </th>
                                                            <th>
                                                                결제시간
                                                            </th>
                                                            <th>
                                                                결제한 곳
                                                            </th>
                                                            <th>
                                                                결제포인트
                                                            </th>                                            
                                                        </tr>

                                                        <%for (var i = 0; i < resultt.length; i++){%>
                                                            <tr>
                                                                <td>
                                                                    <%=i%>
                                                                </td>
                                                                <td>
                                                                    <%=resultt[i].transdate%>
                                                                </td>
                                                                <td>
                                                                    <%=resultt[i].towallet%>
                                                                <td>
                                                                <td>
                                                                    <% amount = resultt[i].token_amount%>
                                                                    <%const amount1 = amount.toString().replace(/(\d{3})(?=\d)/g, ',')%>
                                                                    <%=amount1%>
                                                                </td>
                                                            </tr>
                                                        <%}%>
                                                    </table>
                                                </div>
                                                <%}%>
                                        </div>       
                                    </div>    
                                </div>
                                <!-- 1열 마침 -->
                                <!-- 2열 시작 -->
                                <div class="col-lg-5">
                                    <img src="/img/kk.png"  width="100%" >  
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>

